[push]
  default = current
[color]
 ui = auto
[user]
 email = xiongchenyu6@gmail.com
 name = xiongchenyu6
 signingkey = FEB33C147207641D
[core]
 excludesfile = ~/.global_ignore
 editor = nvim
 autocrlf = input
[credential]
 helper = cache --timeout=3600
[github]
 user = xiongchenyu6@gmail.com
 oauth-token = 0cc28d1690379ee6de60de07f6b0719ccda7ab64
[magithub]
	online = true
[magithub "status"]
	includeStatusHeader = true
	includePullRequestsSection = true
	includeIssuesSection = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
