[push]
 default = current
[color]
 ui = auto
[user]
 email      = xiongchenyu6@gmail.com
 name = xiongchenyu
 signingkey = FEB33C147207641D
[core]
 excludesfile = ~/.global_ignore
 editor       = nvim
 autocrlf     = input
 pager = delta --dark
[credential]
 helper = store
[filter "lfs"]
 clean    = git-lfs clean -- %f
 smudge   = git-lfs smudge -- %f
 process  = git-lfs filter-process
 required = true
[alias]
 trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
[pull]
	rebase = false
[credential "https://github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/run/current-system/sw/bin/gh auth git-credential
