*.key filter=git-crypt diff=git-crypt
*.csr filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.password filter=git-crypt diff=git-crypt
*.secret filter=git-crypt diff=git-crypt
netrc filter=git-crypt diff=git-crypt
*.gpg filter=lfs diff=lfs merge=lfs -text
secret.nix filter=git-crypt diff=git-crypt
id_rsa filter=git-crypt diff=git-crypt

