autoload/
session/
plugged/
undo/
*undo-tree*
node_modules/
.DS_Store
clojure/.clojure/.cpcache
!old-files/config/nvim
!old-files/config/nvim/*
!old-files/config/emacs/
old-files/config/emacs/*
!old-files/config/emacs/early-init.el 
!old-files/config/emacs/init.org 
!old-files/config/emacs/custom 
!old-files/config/kitty
!old-files/config/Code/User
!old-files/config/doom
!old-files/config/TabNine
!old-files/config/fontconfig
!old-files/config/taffybar/
!old-files/config/starship.toml

 tmux/.tmux/**
!tmux/.tmux/plugins/tmp

haskell/.cabal/*
!haskell/.cabal/config
TAGS

sbt/.sbt/**
!sbt/.sbt/1.0/
!sbt/.sbt/1.0/plugins/
!sbt/.sbt/1.0/plugins/plugins.sbt

haskell/.stack/*
!haskell/.stack/global-project
haskell/.stack/global-project/*
!haskell/.stack/global-project/stack.yaml
!haskell/.stack/config.yaml
!haskell/.stack/global-project/stack.yaml

*.pem
*.elc
dist-newstyle/

.log/
.direnv/

result/
result
