[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/hlissner/doom-emacs
[submodule "password"]
	path = password/.password-store
	url = https://github.com/xiongchenyu6/password-store
[submodule "config/.config/nvim/autoload"]
	path = config/.config/nvim/autoload
	url = https://github.com/junegunn/vim-plug
[submodule "config/.config/taffybar/taffybar"]
	path = config/.config/taffybar/taffybar
	url = https://github.com/taffybar/taffybar.git
