autoload/
session/
plugged/
undo/
*undo-tree*
node_modules/
.DS_Store
clojure/.clojure/.cpcache
stow-managed/config/.config/**
!stow-managed/config/.config/emacs
stow-managed/config/.config/emacs/*
!stow-managed/config/.config/nvim/
!stow-managed/config/.config/nvim/**
!stow-managed/config/.config/emacs/early-init.el 
!stow-managed/config/.config/emacs/init.org 
!stow-managed/config/.config/emacs/custom 
!stow-managed/config/.config/emacs/custom.el
!stow-managed/config/.config/emacs/templates
!stow-managed/config/.config/emacs/lisp/
!stow-managed/config/.config/emacs/lisp/*
!stow-managed/config/.config/kitty
!stow-managed/config/.config/Code/
stow-managed/config/.config/Code/*
!stow-managed/config/.config/Code/Preferences
!stow-managed/config/.config/Code/User
!stow-managed/config/.config/Code/User/keybindings.json
!stow-managed/config/.config/Code/User/settings.json
!stow-managed/config/.config/doom
!stow-managed/config/.config/xmonad/
!stow-managed/config/.config/xmonad/*
!stow-managed/config/.config/fontconfig
!stow-managed/config/.config/taffybar/
!stow-managed/config/.config/starship.toml
stow-managed/rime/.local/share/fcitx5/rime/build
stow-managed/rime/.local/share/fcitx5/rime/sync

 tmux/.tmux/**
!tmux/.tmux/plugins/tmp

haskell/.cabal/*
!haskell/.cabal/config
TAGS

sbt/.sbt/**
!sbt/.sbt/1.0/
!sbt/.sbt/1.0/plugins/
!sbt/.sbt/1.0/plugins/plugins.sbt

haskell/.stack/*
!haskell/.stack/global-project
haskell/.stack/global-project/*
!haskell/.stack/global-project/stack.yaml
!haskell/.stack/config.yaml
!haskell/.stack/global-project/stack.yaml

*.elc
dist-newstyle/

.log/
.direnv/

result/
result

.data/
.devenv/
