autoload/
session/
plugged/
undo/
*undo-tree*
node_modules/
.DS_Store
config/.config/*
clojure/.clojure/.cpcache
!config/.config/nvim
!config/.config/kitty
!config/.config/Code/User
!config/.config/doom
!config/.config/TabNine
tmux/.tmux/*
!tmux/.tmux/plugins/tmp
TAGS

haskell/.stack/programs
haskell/.stack/build-plan-cache
haskell/.stack/build-plan
haskell/.stack/indices/
haskell/.stack/loaded-snapshot-cache/
haskell/.stack/precompiled/
haskell/.stack/setup-exe-cache/
haskell/.stack/setup-exe-src/
haskell/.stack/snapshots/
