secretfile filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.password filter=git-crypt diff=git-crypt
*.secret filter=git-crypt diff=git-crypt
*.env filter=git-crypt diff=git-crypt
*.env.json filter=git-crypt diff=git-crypt
*.yaml filter=git-crypt diff=git-crypt
*.yml filter=git-crypt diff=git-crypt
netrc filter=git-crypt diff=git-crypt
