[defaults]
host_key_checking = False
vars_plugins_enabled = host_group_vars,community.sops.sops
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/ansible_facts_cache
fact_caching_timeout = 86400

[inventory]
enable_plugins = host_list, yaml, ini, auto

[ssh_connection]
pipelining = True